<header class="header clearfix">
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container-fluid"><a routerLink='/' class="navbar-brand text-uppercase font-weight-bold">Gary Sharp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i style="color: black" class="fa fa-bars"></i>
        </button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a routerLink='/photos' class="nav-link text-uppercase font-weight-bold">Gallery</a></li>
                    <li class="nav-item"><a routerLink='/videos'class="nav-link text-uppercase font-weight-bold">Videos</a></li>
                    <li class="nav-item"><a routerLink='/events' class="nav-link text-uppercase font-weight-bold">Shows</a></li>
                    <li class="nav-item"><a routerLink='/book-me' class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
