<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 social-container text-center">
  
            <!-- Facebook -->
            <a href="https://www.facebook.com/profile.php?id=1332960586" target="_blank" class="fb-ic">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a href="https://twitter.com/garysharpcomedy" target="_blank" class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a href="https://www.instagram.com/garysharpcomedy/" target="_blank" class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a routerLink="privacy-policy" target="_blank" class="privacy-link">
              Privacy Policy
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="#"> TD Development</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->