@import '../common/styles/variables.scss';
.page-footer{
    background-color: rgba(21,21,21);
    color: $white;

    a + a {
        margin-left: 10px;
    }

        i, .footer-copyright a{
            color: $base-color;
        }

        .footer-copyright {
            background-color: black;
        }

        .privacy-link {
            color: $base-color;
            text-decoration: none;
        }
}