<app-sub-header></app-sub-header>
<section class="contact-us" id="contact">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="col-12">
			<div class="title text-center" >
				<h2>Get In Touch</h2>
				<div class="border"></div>
			</div>
			</div>
			<!-- /section title -->
			
			<!-- Contact Details -->
			<div class="contact-details col-md-6 " >
				<h3>Contact Details</h3>
				<p>Please contact me for all booking, shows, and events.</p>
				<ul class="contact-short-info" >
					<li>
						<i class="tf-ion-android-mail"></i>
						<span>Email: gsharp4224@gmail.com</span>
					</li>
				</ul>
				<!-- Footer Social Links -->
				<div class="social-icon">
					<ul>
						<li><a href="https://www.facebook.com/profile.php?id=1332960586" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/garysharpcomedy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/garysharpcomedy/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!--/. End Footer Social Links -->
			</div>
			<!-- / End Contact Details -->
				
			<!-- Contact Form -->
			<div class="contact-form col-md-6 " >
				<form id="contact-form" [formGroup]="contactUsFormGroup">
					<div class="form-group">
						<input type="text" placeholder="Your Name" formControlName="from" class="form-control" name="name" id="name">
					</div>
					
					<div class="form-group">
						<input type="email" placeholder="Your Email" formControlName="email" class="form-control" name="email" id="email">
					</div>

					<div class="form-group">
						<input type="phone" placeholder="Your Phone" formControlName="phone" class="form-control" name="phone" id="phone">
					</div>
					
					<div class="form-group">
						<textarea rows="6" placeholder="Message" formControlName="message" class="form-control" name="message" id="message"></textarea>	
					</div>
					
					<div id="success" *ngIf="emailSent" class="success">
						Thank you. The Mailman is on His Way :)
					</div>
					
					<div id="error" *ngIf="errorSending" class="error">
						Sorry, don't know what happened. Try later :(
					</div>
					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" (click)="sendEmail()" value="Submit">
					</div>						
					
				</form>
			</div>