<app-sub-header></app-sub-header>
<div class="container section">
    <div class="row">
        <div class="col-md-5 text-main">
            <h1>upcoming shows.</h1>
            <p class="intro">Below you can view my calendar of upcoming shows and appearances.</p>
        </div>
    </div>
    <app-upcoming-shows></app-upcoming-shows>
</div>