<div id="upcoming-shows" class="container section mb-5">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2 class="section-header">
                Shows
            </h2>
        </div>
    </div>
    <div *ngFor="let event of events" class="row event-row text-center mb-5">
        <div class="col-12 col-md-4">
            <div class="date">
                <span>{{getFormatedDate(event.fields.date)}}</span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="show-name">
                <span>{{event.fields.showTitle}}</span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="show-details">
                <span class="time">{{event.fields.timeSpan}}</span>
                <span class="location">{{event.fields.location}}</span>
                <a [class.disabled]="!validURL(event.fields.ticketsLink)" target="_blank" [attr.href]="parseLink(event.fields.ticketsLink)"><span  class="tickets">{{getLinkString(event.fields.ticketsLink)}}</span></a>
            </div>
        </div>
    </div>
</div>