@import '../../common/styles/variables.scss';
span {
    display: block;
}
.event-row {
    padding: 20px;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    .date{
        height: 70px;
        left:0;
        position: absolute;
        text-align: center;
        top: 0;
        width:70px;
        padding: 10px;
        background-color:$black;

        span{
            display: block;
            color: $base-color;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .show-details{
        
        a {
            text-decoration: none !important;

            &.disabled {
                background-color: gray !important;
                cursor: not-allowed !important;
                text-decoration: underline;
                pointer-events: none;

                .tickets{
                    background-color: gray;
                }
            }
        }
        .tickets{
            font-size: 16px;
            padding: 10px;
            border: solid 1px;
            background-color:$black;
            border-radius: 2px;
            color: $base-color;


            &:hover {
                background-color: $base-color;
                color: $black;
                cursor: grab;
            }
        }
    }

    &:nth-child(2n+1) {
        background: rgba(0,0,0,.05);
    }
}
