<app-sub-header [title]="title"></app-sub-header>
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-5 text-main">
            <h1>gallery.</h1>
            <p class="intro">Enjoy these photos from various past events.</p>
        </div>
    </div>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div *ngFor="let photo of gallery" class="col-lg-3 col-md-4 col-6"> 
          <img class="img-fluid img-thumbnail" src="{{photo?.fields.file.url}}" alt="{{photo?.fields.description}}">
      </div>
    </div>
  
  </div>
  