<section class="about" id="about">
	<div class="container">
		<div class="row justify-content-center">
		
			<!-- section title -->
			<div class="title text-center">
				<h2>{{bio?.fields.bioTitle}}</h2>
				<p>{{bio?.fields.bioSubtitle}}</p>
				<div class="border"></div>
			</div>
			<!-- /section title -->

			<div class="col-md-4">
				<img class="img img-fluid" src="{{bio?.fields.bioImage.fields.file.url}}" alt="Gary Bio Pic">
			</div>
			<div class="col-md-6">
                <div id="rich-text-body1" class="description"></div>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->