.about {
    padding:100px 0;
    background: #fff;
    h4 {
      margin-top: 30px;
    }
  
    p {
      line-height: 1.4;
    }
  }
  
  .border{
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #dee2e6;
  }
  
  img {
      border-radius: 5px;
      display: block;
      width: 500px;
      height: auto;
  }
  
  .title p {
    color: #848484;
    width: 50%;
    margin: 0 auto;
  }