<section class="newsletter mt-5 mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <form [formGroup]="newsletterForm">
                        <h2 class="text-center">Subscribe To My Newsletter</h2>
                        <p>Stay up to date with shows as soon as they're booked.</p>
                        <div id="success" *ngIf="sent" class="success">
                            Thank you for subscribing :)
                        </div>
                        <div id="error" *ngIf="errorSending" class="error">
                            Sorry, don't know what happened. Try later :(
                        </div>
                        <div class="input-group">
                            <input type="email" class="form-control" formControlName="email"  placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button (click)="subscribeEmail()" class="btn" type="submit">Subscribe Now</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>