@import '../common/styles/variables.scss';
.newsletter {
    padding: 80px 0;
    background: #f2f2f2;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 

    p {
        font-weight: 600;
        font-size: 16px;
    }
}
    .newsletter .content h2 {
    color: $black;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid $base-color;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: $black;
    color: #fff;
    font-weight:600;
    }

    .error {
        padding: 10px;
        color: #D8000C;
        border-radius: 2px;
        font-size: 14px;
        background-color: #FFBABA;
      }
      
      .success {
        background-color: #6cb670;
        border-radius: 2px;
        color: #fff;
        font-size: 14px;
        padding: 10px;
      }
      
      #error, #success{
        margin-bottom: 10px;
      }