@media only screen and (max-width: 600px) {
    .hero-image .container {
        h1 {
            font-size: 5rem !important;
            line-height: 75px !important;
        } 
        .hero-links{
            display: none !important;
        }
    }

    .snaps a {
        width: 30%;
margin: 1% 2% 1% 0;
padding: 1%;
    }

    .section-heading{
        margin-bottom: 30px;
    }
} 

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .description {
        padding-top: 25px;
    }

}