/* You can add global styles to this file, and also import other style files */
@import "app/common/styles/queries/small.scss" ;
@import "app/common/styles/queries/medium.scss" ;
@import "app/common/styles/queries/large.scss";




/*default styles*/
body {
    font-family: 'Arvo', serif;
    overflow-x: hidden;
    p {
        color: #848484;
        font-size: 16px;
        line-height: 1.65;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both; }

    html{
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .text-main{
        padding-top: 3rem;
    
        h1{
            font-size: 5rem;
            line-height: 1.2;
            letter-spacing: -0.06em;
        }
    
        p, #rich-text-body1{
            &.intro{
                font-size: 1.6rem;
                color: #757575;
                line-height: 1.3;
            }
    
            &.description {
                line-height: 1.3;
                font-size: 1.7rem;
                color: #494848;
            }
        }
    
    
    }

h2.section-header{
position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 42%;
        bottom: 0px;
        width: 150px;
        height: 14px;
        transform: skew(-12deg) translateX(-50%);
        background: #EEBC1D;
        z-index: -1;
      }

}