@import '../common/styles/variables.scss';

#container {
    width: 100%;
  }
// #bg {
//    background: url("../../assets/header/hero-image.jpg") no-repeat center;
//    height: 100vh;
//    width: 100vw;
//    background-size: cover;
   
//  }
  
 #color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000033;
    opacity: 0.6;
 }
 
 a {
   text-decoration: none;
   color: #FFF;
 }
 
 a:hover {
   color: $base-color;
 }
 
 
 .sitetitle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   h1 {
    color:$white;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px $black;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
 }
 
.tweet {
  padding: 80px 0;
}

.section-heading {
  margin-bottom: 80px;
}

.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}