<!-- <section class="hero">
    <div class="container-fluid">
        <div id="bg">
            <div id="color-overlay"></div>
        </div>
        <div class="sitetitle">
            <h1>On Tour</h1>
        </div>
    </div>
</section> -->
<div *ngIf="heroSection != null" class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image':' url(' + heroSection?.fields?.homePageImage.fields.file.url + ')'}">
    <div class="container">
        <div id="bg">
            <div id="color-overlay"></div>
        </div>
        <div class="sitetitle">
            <!-- <h1>{{heroSection?.fields?.homePageImageSubText}}</h1> -->
        </div>
    </div>
  </div>
<app-bio></app-bio>
<app-upcoming-shows></app-upcoming-shows>
<app-newsletter></app-newsletter>