<app-sub-header></app-sub-header>
<div class="container pb-video-container">
    
    <div class="row">
        <div class="col-md-5 text-main">
            <h1>video gallery.</h1>
            <p class="intro">Enjoy these sets from past shows.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row pb-row">
            <div *ngFor="let video of videos" class="col-md-3 pb-video">
                <video width="100%" height="240" src="{{video.fields.file.url}}#t=0.5" preload="metadata" controls>
                    Your browser does not support the video tag.
                  </video>
                <label class="form-control label-warning text-center">{{video.fields.title}}</label>
            </div>
        </div>
    </div>
</div>